DJANGO_SECRET_KEY=cambia-esta-clave-en-produccion
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=midominio.com,www.midominio.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://midominio.com,https://www.midominio.com
DJANGO_SECURE_SSL_REDIRECT=True
SAAS_REQUIRE_SUBSCRIPTION=False
