# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environments
venv/
.env

# PyCharm
.idea/

# VS Code
.vscode/

# Mac
.DS_Store

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/

# Coverage
htmlcov/
.coverage
.coverage.*

# Jupyter Notebook
.ipynb_checkpoints/

# Temporary files
*.tmp
*.swp
*~
